@background-color: #242425 ;
@color: #66C2FF;

body {
  background-color: @background-color;
  color: @color;
  font-family: sans-serif;
}

.mainContainer {
  width: 600px;
  margin: 0 auto;
  text-align: center;
}

h1 {
  text-shadow: 2px 1px #005C99;
}
