<h3>BINGO TICKET GOES HERE</h3>
<smalll>When I figure out how I want to do that</smalll>

<div class="gameboard">
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>

    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>

    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
    <div class="ticket-cell"></div>
</div>